.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ffaf54;
  color: white;
}

.topnav a.active:hover {
  background-color: white;
  color: #ffaf54;
}

.topnav a.split {
  float: right;
  color: white;
  background-color: #ffaf54;
}

.topnav a.split:hover {
  background-color: white;
  color: #ffaf54;
}
