.icon {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.character-icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  user-select: none;
}

.character-name {
  margin-top: 4px;
  text-align: center;
  font-size: 15px;
}

.overlay-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
