form {
  border: 3px solid #f1f1f1;
  border-radius: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

button {
  background-color: #ffaf54;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.sign-up {
  color: #ffaf54;
  height: 3vh;
  padding: 10px 5px;
  flex-direction: column;
  justify-content: center;
}

.sign-up:hover {
  text-decoration: underline;
  cursor: pointer;
}

.vertical-container {
  display: flex;
  height: 85vh;
  flex-direction: column;
  justify-content: center;
}

.center-container {
  display: flex;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  width: 40vw;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}
